USE [master]
GO
/****** Object:  Database [cclearly]    Script Date: 2/24/2026 4:20:57 PM ******/
CREATE DATABASE [cclearly]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cclearly', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\cclearly.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cclearly_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\cclearly_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cclearly].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cclearly]
GO
/****** Object:  Table [dbo].[addresses]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[addresses](
	[address_id] [uniqueidentifier] NOT NULL,
	[city] [varchar](100) NULL,
	[is_default] [bit] NULL,
	[street] [varchar](255) NULL,
	[user_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[audit_logs]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_logs](
	[log_id] [uniqueidentifier] NOT NULL,
	[action] [varchar](255) NULL,
	[new_value] [nvarchar](max) NULL,
	[old_value] [nvarchar](max) NULL,
	[user_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_items]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_items](
	[cart_item_id] [uniqueidentifier] NOT NULL,
	[quantity] [int] NULL,
	[cart_id] [uniqueidentifier] NULL,
	[lens_variant_id] [uniqueidentifier] NULL,
	[variant_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[cart_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[content_banners]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[content_banners](
	[banner_id] [uniqueidentifier] NOT NULL,
	[image_url] [varchar](255) NULL,
	[position] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[banner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[user_id] [uniqueidentifier] NOT NULL,
	[date_of_birth] [date] NULL,
	[loyalty_points] [int] NULL,
	[membership_level] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[email_verifications]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[email_verifications](
	[verification_id] [uniqueidentifier] NOT NULL,
	[expired_at] [datetimeoffset](7) NULL,
	[otp_code] [varchar](10) NULL,
	[verified] [bit] NULL,
	[user_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[verification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory_stock]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory_stock](
	[location_code] [varchar](255) NULL,
	[quantity_on_hand] [int] NULL,
	[variant_id] [uniqueidentifier] NOT NULL,
	[warehouse_id] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[variant_id] ASC,
	[warehouse_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[master_lens_technologies]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[master_lens_technologies](
	[tech_id] [uniqueidentifier] NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[tech_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notification_templates]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notification_templates](
	[template_code] [varchar](255) NOT NULL,
	[body_html] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[template_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[order_item_id] [uniqueidentifier] NOT NULL,
	[unit_price] [numeric](19, 2) NULL,
	[lens_variant_id] [uniqueidentifier] NULL,
	[order_id] [uniqueidentifier] NULL,
	[variant_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_status_logs]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_status_logs](
	[log_id] [uniqueidentifier] NOT NULL,
	[new_status] [varchar](50) NULL,
	[note] [text] NULL,
	[order_id] [uniqueidentifier] NULL,
	[user_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [uniqueidentifier] NOT NULL,
	[code] [varchar](20) NULL,
	[final_amount] [numeric](19, 2) NULL,
	[status] [varchar](50) NULL,
	[address_id] [uniqueidentifier] NULL,
	[coupon_code] [varchar](255) NULL,
	[user_id] [uniqueidentifier] NULL,
	[coupon_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[payment_id] [uniqueidentifier] NOT NULL,
	[method] [varchar](50) NULL,
	[payos_order_code] [varchar](50) NULL,
	[status] [varchar](50) NULL,
	[order_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permissions]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permissions](
	[permission_id] [uniqueidentifier] NOT NULL,
	[description] [varchar](255) NULL,
	[slug] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[prescriptions]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescriptions](
	[prescription_id] [uniqueidentifier] NOT NULL,
	[image_url] [varchar](255) NULL,
	[sales_note] [text] NULL,
	[sph_od] [real] NULL,
	[validation_status] [varchar](50) NULL,
	[order_item_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[prescription_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_frames]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_frames](
	[product_id] [uniqueidentifier] NOT NULL,
	[bridge_width_mm] [int] NULL,
	[lens_width_mm] [int] NULL,
	[material] [varchar](100) NULL,
	[shape] [varchar](50) NULL,
	[total_width_mm] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_images]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_images](
	[image_id] [uniqueidentifier] NOT NULL,
	[image_url] [varchar](255) NULL,
	[product_id] [uniqueidentifier] NULL,
	[variant_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_lens_tech_map]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_lens_tech_map](
	[product_id] [uniqueidentifier] NOT NULL,
	[tech_id] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC,
	[tech_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_lenses]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_lenses](
	[product_id] [uniqueidentifier] NOT NULL,
	[lens_type] [varchar](50) NULL,
	[refractive_index] [real] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_variants]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_variants](
	[variant_id] [uniqueidentifier] NOT NULL,
	[color_name] [varchar](50) NULL,
	[expected_availability] [date] NULL,
	[is_preorder] [bit] NULL,
	[sale_price] [numeric](19, 2) NULL,
	[sku] [varchar](50) NULL,
	[product_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[variant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [uniqueidentifier] NOT NULL,
	[base_price] [numeric](19, 2) NULL,
	[category_type] [varchar](50) NULL,
	[is_active] [bit] NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotions]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotions](
	[promotion_id] [uniqueidentifier] NOT NULL,
	[code] [varchar](255) NULL,
	[discount_type] [varchar](50) NULL,
	[value] [numeric](19, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[promotion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refunds]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refunds](
	[refund_id] [uniqueidentifier] NOT NULL,
	[amount] [numeric](19, 2) NULL,
	[created_at] [datetimeoffset](7) NULL,
	[reason] [text] NULL,
	[status] [varchar](50) NULL,
	[order_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[refund_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role_permissions]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role_permissions](
	[role_id] [uniqueidentifier] NOT NULL,
	[permission_id] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC,
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[role_id] [uniqueidentifier] NOT NULL,
	[description] [varchar](255) NULL,
	[role_name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[staff_profiles]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[staff_profiles](
	[user_id] [uniqueidentifier] NOT NULL,
	[department] [varchar](50) NULL,
	[employee_code] [varchar](20) NULL,
	[salary_grade] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stock_movements]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stock_movements](
	[movement_id] [uniqueidentifier] NOT NULL,
	[quantity] [int] NULL,
	[reason] [varchar](50) NULL,
	[variant_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[movement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[system_configs]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[system_configs](
	[config_key] [varchar](100) NOT NULL,
	[config_group] [varchar](50) NULL,
	[config_value] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[config_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [uniqueidentifier] NOT NULL,
	[created_at] [datetimeoffset](7) NULL,
	[email] [varchar](255) NULL,
	[full_name] [varchar](100) NULL,
	[is_email_verified] [bit] NULL,
	[last_login] [datetimeoffset](7) NULL,
	[password_hash] [varchar](255) NULL,
	[phone_number] [varchar](20) NULL,
	[status] [varchar](50) NULL,
	[role_id] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[warehouses]    Script Date: 2/24/2026 4:20:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[warehouses](
	[warehouse_id] [uniqueidentifier] NOT NULL,
	[name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[warehouse_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [UK64t7ox312pqal3p7fg9o503c2]    Script Date: 2/24/2026 4:20:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UK64t7ox312pqal3p7fg9o503c2] ON [dbo].[carts]
(
	[user_id] ASC
)
WHERE ([user_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UKd1ddt32q8p8qud44f11dpa7mc]    Script Date: 2/24/2026 4:20:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKd1ddt32q8p8qud44f11dpa7mc] ON [dbo].[prescriptions]
(
	[order_item_id] ASC
)
WHERE ([order_item_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UKjdho73ymbyu46p2hh562dk4kk]    Script Date: 2/24/2026 4:20:57 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UKjdho73ymbyu46p2hh562dk4kk] ON [dbo].[promotions]
(
	[code] ASC
)
WHERE ([code] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[addresses]  WITH CHECK ADD  CONSTRAINT [FK1fa36y2oqhao3wgg2rw1pi459] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[addresses] CHECK CONSTRAINT [FK1fa36y2oqhao3wgg2rw1pi459]
GO
ALTER TABLE [dbo].[audit_logs]  WITH CHECK ADD  CONSTRAINT [FKjs4iimve3y0xssbtve5ysyef0] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[audit_logs] CHECK CONSTRAINT [FKjs4iimve3y0xssbtve5ysyef0]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [FK5yyw1o0dor9gmxfra1dqvn4qa] FOREIGN KEY([variant_id])
REFERENCES [dbo].[product_variants] ([variant_id])
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [FK5yyw1o0dor9gmxfra1dqvn4qa]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [FKal7629eogfqjko4xd4hpw63og] FOREIGN KEY([lens_variant_id])
REFERENCES [dbo].[product_variants] ([variant_id])
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [FKal7629eogfqjko4xd4hpw63og]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [FKpcttvuq4mxppo8sxggjtn5i2c] FOREIGN KEY([cart_id])
REFERENCES [dbo].[carts] ([cart_id])
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [FKpcttvuq4mxppo8sxggjtn5i2c]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [FKb5o626f86h46m4s7ms6ginnop] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [FKb5o626f86h46m4s7ms6ginnop]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FKrh1g1a20omjmn6kurd35o3eit] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FKrh1g1a20omjmn6kurd35o3eit]
GO
ALTER TABLE [dbo].[email_verifications]  WITH CHECK ADD  CONSTRAINT [FKou1xuy3rdeao75p2x1v4v3xs] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[email_verifications] CHECK CONSTRAINT [FKou1xuy3rdeao75p2x1v4v3xs]
GO
ALTER TABLE [dbo].[inventory_stock]  WITH CHECK ADD  CONSTRAINT [FKaf9mndtbetvp70yy1i267o19e] FOREIGN KEY([warehouse_id])
REFERENCES [dbo].[warehouses] ([warehouse_id])
GO
ALTER TABLE [dbo].[inventory_stock] CHECK CONSTRAINT [FKaf9mndtbetvp70yy1i267o19e]
GO
ALTER TABLE [dbo].[inventory_stock]  WITH CHECK ADD  CONSTRAINT [FKd1cguwqs4dwkb228hcx3aji9c] FOREIGN KEY([variant_id])
REFERENCES [dbo].[product_variants] ([variant_id])
GO
ALTER TABLE [dbo].[inventory_stock] CHECK CONSTRAINT [FKd1cguwqs4dwkb228hcx3aji9c]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FKbioxgbv59vetrxe0ejfubep1w] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FKbioxgbv59vetrxe0ejfubep1w]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FKcq2hawuab3vts5yivcpobhd3r] FOREIGN KEY([lens_variant_id])
REFERENCES [dbo].[product_variants] ([variant_id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FKcq2hawuab3vts5yivcpobhd3r]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FKemq71edpbn9wsxnxncfn1algp] FOREIGN KEY([variant_id])
REFERENCES [dbo].[product_variants] ([variant_id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FKemq71edpbn9wsxnxncfn1algp]
GO
ALTER TABLE [dbo].[order_status_logs]  WITH CHECK ADD  CONSTRAINT [FKpoehv8fptppd81oysnw7l44by] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[order_status_logs] CHECK CONSTRAINT [FKpoehv8fptppd81oysnw7l44by]
GO
ALTER TABLE [dbo].[order_status_logs]  WITH CHECK ADD  CONSTRAINT [FKtdc5dwpunouy9wn2nblu3ma27] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[order_status_logs] CHECK CONSTRAINT [FKtdc5dwpunouy9wn2nblu3ma27]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK32ql8ubntj5uh44ph9659tiih] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK32ql8ubntj5uh44ph9659tiih]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKaghhtmjm1rl4kk9ayp2yckebf] FOREIGN KEY([coupon_id])
REFERENCES [dbo].[promotions] ([promotion_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKaghhtmjm1rl4kk9ayp2yckebf]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKhlglkvf5i60dv6dn397ethgpt] FOREIGN KEY([address_id])
REFERENCES [dbo].[addresses] ([address_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKhlglkvf5i60dv6dn397ethgpt]
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD  CONSTRAINT [FK81gagumt0r8y3rmudcgpbk42l] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[payments] CHECK CONSTRAINT [FK81gagumt0r8y3rmudcgpbk42l]
GO
ALTER TABLE [dbo].[prescriptions]  WITH CHECK ADD  CONSTRAINT [FKlfa64whjhwq8pvu0uj38srmk4] FOREIGN KEY([order_item_id])
REFERENCES [dbo].[order_items] ([order_item_id])
GO
ALTER TABLE [dbo].[prescriptions] CHECK CONSTRAINT [FKlfa64whjhwq8pvu0uj38srmk4]
GO
ALTER TABLE [dbo].[product_frames]  WITH CHECK ADD  CONSTRAINT [FKeaksiarr8t1yntfxlgohes60u] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[product_frames] CHECK CONSTRAINT [FKeaksiarr8t1yntfxlgohes60u]
GO
ALTER TABLE [dbo].[product_images]  WITH CHECK ADD  CONSTRAINT [FKqnq71xsohugpqwf3c9gxmsuy] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[product_images] CHECK CONSTRAINT [FKqnq71xsohugpqwf3c9gxmsuy]
GO
ALTER TABLE [dbo].[product_images]  WITH CHECK ADD  CONSTRAINT [FKqnqjv00ocaxfmu2k6b99ycdad] FOREIGN KEY([variant_id])
REFERENCES [dbo].[product_variants] ([variant_id])
GO
ALTER TABLE [dbo].[product_images] CHECK CONSTRAINT [FKqnqjv00ocaxfmu2k6b99ycdad]
GO
ALTER TABLE [dbo].[product_lens_tech_map]  WITH CHECK ADD  CONSTRAINT [FKbi44ct2ecd2uvca1v5e0rylxm] FOREIGN KEY([tech_id])
REFERENCES [dbo].[master_lens_technologies] ([tech_id])
GO
ALTER TABLE [dbo].[product_lens_tech_map] CHECK CONSTRAINT [FKbi44ct2ecd2uvca1v5e0rylxm]
GO
ALTER TABLE [dbo].[product_lens_tech_map]  WITH CHECK ADD  CONSTRAINT [FKiku1ir3vywtxhjpq72p3d8jug] FOREIGN KEY([product_id])
REFERENCES [dbo].[product_lenses] ([product_id])
GO
ALTER TABLE [dbo].[product_lens_tech_map] CHECK CONSTRAINT [FKiku1ir3vywtxhjpq72p3d8jug]
GO
ALTER TABLE [dbo].[product_lenses]  WITH CHECK ADD  CONSTRAINT [FKequfbxxtnghearsbnny1r9gte] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[product_lenses] CHECK CONSTRAINT [FKequfbxxtnghearsbnny1r9gte]
GO
ALTER TABLE [dbo].[product_variants]  WITH CHECK ADD  CONSTRAINT [FKosqitn4s405cynmhb87lkvuau] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[product_variants] CHECK CONSTRAINT [FKosqitn4s405cynmhb87lkvuau]
GO
ALTER TABLE [dbo].[refunds]  WITH CHECK ADD  CONSTRAINT [FKsk9rqm7f6y8b1g0qob018hdm7] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[refunds] CHECK CONSTRAINT [FKsk9rqm7f6y8b1g0qob018hdm7]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FKegdk29eiy7mdtefy5c7eirr6e] FOREIGN KEY([permission_id])
REFERENCES [dbo].[permissions] ([permission_id])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FKegdk29eiy7mdtefy5c7eirr6e]
GO
ALTER TABLE [dbo].[role_permissions]  WITH CHECK ADD  CONSTRAINT [FKn5fotdgk8d1xvo8nav9uv3muc] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[role_permissions] CHECK CONSTRAINT [FKn5fotdgk8d1xvo8nav9uv3muc]
GO
ALTER TABLE [dbo].[staff_profiles]  WITH CHECK ADD  CONSTRAINT [FK5i49sugfwky79ag0q798r8tck] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([user_id])
GO
ALTER TABLE [dbo].[staff_profiles] CHECK CONSTRAINT [FK5i49sugfwky79ag0q798r8tck]
GO
ALTER TABLE [dbo].[stock_movements]  WITH CHECK ADD  CONSTRAINT [FKo3rdw1xgft64g9fr8d3rnbt1q] FOREIGN KEY([variant_id])
REFERENCES [dbo].[product_variants] ([variant_id])
GO
ALTER TABLE [dbo].[stock_movements] CHECK CONSTRAINT [FKo3rdw1xgft64g9fr8d3rnbt1q]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [FKp56c1712k691lhsyewcssf40f] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([role_id])
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [FKp56c1712k691lhsyewcssf40f]
GO
USE [master]
GO
